<br />
<h2><a href="#">ADD SALES BY CATEGORY</a></h2>
<hr />
<br />
<table width="500" border="0">
  <tr>
    <td>Restaurant:</td>
    <td><input type="text" name="restaurant" /></td>
  </tr>
  <tr>
  	<td>Branch:</td>
    <td><input type="text" name="branch" /></td>
  </tr>
</table>
<br />
<hr />
<br />
<%= render 'form' %>
<%= link_to 'Back', categorysales_path %>
