<p id="notice"><%= notice %></p>

<p>
  <b>St name:</b>
  <%= @settlement_type.st_name %>
</p>


<%= link_to 'Edit', edit_settlement_type_path(@settlement_type) %> |
<%= link_to 'Back', settlement_types_path %>
